# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Backend specific
backend/uploads/*
!backend/uploads/.gitkeep
backend/reports/*
!backend/reports/.gitkeep
backend/ml/weights/*.pth

# IDE / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project documents
documents/
compliance/

# Datasets & Weights
training/datasets/
*.pth
